body {
  font-family: "Nanum Myeongjo", serif;
  color: #00a8a8;
}

.HeaderLogo {
  background-color: #c67e50;
  margin-top: 10%;
  margin-right: 50px;
  margin-left: 100px;
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
}

.HeaderLink {
  display: inline-block;
  font-style: italic;
  font-size: medium;
  margin-right: 10px;

  background-color: #c67e50;
  border: 4px inset lightgrey;
  border-radius: 5px;
  height: 30px;
  width: 80px;
  color: white;

  text-decoration: none;
  padding: 15px;
}

.HeaderLink:hover {
  cursor: pointer;
  color: lightskyblue;
}

h1 {
  font-size: 4rem;
  font-style: bold;
  background-color: #aeb6bf;

  padding: 5px;
  text-align: center;

  border-radius: 20px;
  border-style: double;
}

.Topic {
  margin-right: 20px;
  font-size: xx-large;
}

.MedJournalP {
  font-family: "Poiret One", cursive;
  color: #00a8a8;
  background-color: white;
  font-size: xx-large;
}

p {
  display: flex;
  justify-content: center;
  color: white;
  background-color: #c67e50;
  font-size: x-large;
  font-weight: 50;
  margin-left: 100px;
  margin-right: 100px;
}

.TopicLabel {
  color: white;
  background-color: #c67e50;
  font-size: x-large;
  margin-right: 20px;
}

@media screen and (min-width: 768px) {
  body {
    font-size: 140%;
    padding-left: 10%;
    padding-right: 10%;
  }
  h1 {
    padding-left: 20%;
    padding-right: 20%;
  }
}
